In [46]:
import pandas as pd
import numpy as np

import os
import sys

import geopandas as gpd
import matplotlib.pylab as plt

import geopandas.tools
from shapely.geometry import Point
from geopandas.tools import sjoin

%pylab inline

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
PUIdata = os.getenv('PUIDATA')
print(PUIdata)

/home/cusp/uc288/PUIdata

In [3]:
path = PUIdata + '/ADSProject'

if (not os.path.isdir(path)):
    if (os.system('mkdir ' + path) == 0):
        print("OK, directory in place")
else:
    print("OK, directory in place")

OK, directory in place

In [34]:
df = pd.read_csv('inside_airbnb_data.csv').iloc[:,1:]

In [37]:
df.head()

        id   latitude  longitude  price        date
0  1069266  40.756852 -73.964754    160  2015-01-01
1  1846722  40.830599 -73.941014    105  2015-01-01
2  2061725  40.692189 -73.924120     58  2015-01-01
3    44974  40.734751 -74.002592    185  2015-01-01
4  4701675  40.745282 -73.997836    195  2015-01-01

In [38]:
df.date = pd.to_datetime(df.date)

In [39]:
df['year'] = df.date.dt.year

In [40]:
df.shape

(1123107, 6)

In [42]:
df2 = df.iloc[:,[0,1,2,5]]
df2.head()

        id   latitude  longitude  year
0  1069266  40.756852 -73.964754  2015
1  1846722  40.830599 -73.941014  2015
2  2061725  40.692189 -73.924120  2015
3    44974  40.734751 -74.002592  2015
4  4701675  40.745282 -73.997836  2015

In [43]:
print(df2.shape)
df2.drop_duplicates(inplace=True)
print(df2.shape)

(1123107, 4)
(255471, 4)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

In [44]:
1123107 - 255471

867636

In [45]:
df2.head()

        id   latitude  longitude  year
0  1069266  40.756852 -73.964754  2015
1  1846722  40.830599 -73.941014  2015
2  2061725  40.692189 -73.924120  2015
3    44974  40.734751 -74.002592  2015
4  4701675  40.745282 -73.997836  2015

In [48]:
makePoint = lambda row: Point(row["longitude"], row["latitude"])

In [49]:
df2['geometry'] = df2.apply(makePoint, axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [50]:
df2.head()

,id,latitude,longitude,year,geometry
0,1069266,40.756852,-73.964754,2015,POINT (-73.96475423499014 40.75685194386187)
1,1846722,40.830599,-73.941014,2015,POINT (-73.94101427789765 40.83059906748076)
2,2061725,40.692189,-73.924120,2015,POINT (-73.92412000114966 40.69218932278581)
3,44974,40.734751,-74.002592,2015,POINT (-74.00259246421851 40.73475108783765)
4,4701675,40.745282,-73.997836,2015,POINT (-73.99783627201059 40.74528161142444)

In [51]:
gdf = gpd.GeoDataFrame(df2, geometry="geometry")
gdf.shape

(255471, 5)

In [52]:
gdf.head()

,id,latitude,longitude,year,geometry
0,1069266,40.756852,-73.964754,2015,POINT (-73.96475423499014 40.75685194386187)
1,1846722,40.830599,-73.941014,2015,POINT (-73.94101427789765 40.83059906748076)
2,2061725,40.692189,-73.924120,2015,POINT (-73.92412000114966 40.69218932278581)
3,44974,40.734751,-74.002592,2015,POINT (-74.00259246421851 40.73475108783765)
4,4701675,40.745282,-73.997836,2015,POINT (-73.99783627201059 40.74528161142444)

In [53]:
gdf.to_csv('unique_listings.csv')